<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ssolutionsdeveloper.ecocycle">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_green_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_green_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.MessageActivity"></activity>
        <activity android:name=".activity.OpcoesActivity" />
        <activity android:name=".activity.PrincipalActivity" />
        <activity android:name=".activity.CadastroActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.IntroActivity" />
        <activity android:name=".activity.Splash">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    tools:ignore="DuplicateActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>